@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>the site is a database of my favorite movies. but you can also add your own favorite movies if you wish to. they probably suck though, to be perfectly honest </p>
