@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Saili Raje</h1>
    <p class="lead">You're probably here because I gave you the url. Lucky you. This is the product of my first day of actual work at Microsoft.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the MVC Movie button. This site relies on a Model View Controller Pattern to display and manipulate a local database of movies.         </p>
        
    </div>
    <div class="col-md-4">
        <h2>Local Database</h2>
        <p>The database is created using a framework called Entity Framework (EF) and a development approach called Code First which means you can code a working application without building a database first (I think) the db is eventually created by your domain classes.</p>
            </div>
    <div class="col-md-4">
        <h2>Publishing to Azure</h2>
        <p>After installing the SDK, I deployed the initially local site to the CLOUD so that you could see it. you're welcome.</p>
        
    </div>
</div>